# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
extras/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# dotenv
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# PyCharm
.idea/

# Migrations (opcional: mantenha se quiser versionar)
*/migrations/__pycache__/
*/migrations/*.pyc
