{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {{ form.media }}
</head>
<body>
  <div class="d-flex">
  <div class="col-2 bg-dark text-white d-flex flex-column p-2 mh-100">
      <div>
        <h5 class="mb-4">Menu</h5>
        <div class="d-grid gap-2">
        
          <a href="{% url 'seleciona_cliente' cliente.pk %}" class="btn btn-outline-light mb-5">Resumo</a>
          
          <button type="submit" form="meuForm" class="btn btn-outline-light">Salvar</button>
          
          {%if editar%}
          <a href="{% url 'decesso_update' apolice.pk %}" class="btn btn-outline-light mb-5">Desfazer</a>

          <a href="{% url 'decesso_delete' apolice.pk %}" class="btn btn-outline-danger mb-5">Excluir apólice</a>
          
          <a href="{% url 'decesso_impressao' apolice.pk %}" class="btn btn-outline-light mb-5">Imprimir</a>
          {%endif%}
          
          <a href="{% url 'clientes' %}" class="btn btn-outline-light">Inicio</a>
        </div>
      </div>

    </div>
  <div class="col-10">
    <h4 class="text-center border-bottom my-2">Cadastrar / Alterar apólices DECESSO</h4>
    
  <h5 class="mx-2">Cliente: {{cliente.nome}}</h5>

  <div class="container mt-3">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
</div>
  
  <div class=" p-2">
    <form method="post" id="meuForm">
        {% csrf_token %}
        {%if novo%}
       <div class="d-flex mb-3">
        <label class="form-label mx-3">Apólice:</label>
       {{form.apolice}}
       </div>
       {%else%}
       {{form.apolice}}
        <h6 class="mx-2">Apólice: {{apolice.apolice.nome}}</h6>
        {% endif %}
        
  <!-- Titular -->
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">
      Segurado
    </div>
    <div class="card-body">
      
      <!-- Situação -->
      <div class="mb-3">
        <label class="form-label me-3">Situação:</label>
       {% for radio in form.movimento %}
        <div class="form-check form-check-inline">
            {{ radio.tag }}
            <label class="form-check-label">{{ radio.choice_label }}</label>
        </div>
    {% endfor %}
      </div>

      <!-- Datas -->
        <div class="row mb-3 border-top">
        <div class="col-md-2">
          <label class="form-label">Clube</label>
          {{form.clube}}
        </div>
        <div class="col-md-10">
          <label class="form-label">Angariador</label>
          {{form.angariador}}
        </div>
        
      </div>
      
      <div class="row mb-3">
        <div class="col-md-3">
          <label class="form-label">Produção</label>
          {{form.producao}}
        </div>
        <div class="col-md-3">
          <label class="form-label">Averbação</label>
          {{form.averbacao}}
        </div>
        <div class="col-md-3">
          <label class="form-label">Inicio</label>
          {{form.inicio}}
        </div>
        <div class="col-md-3">
          <label class="form-label">Vigência</label>
          {{form.vigencia}}
        </div>
        <div class="col-md-3">
          <label class="form-label">Canc. / Sinistro</label>
          {{form.datacancelamento}}
        </div>
        <div class="col-md-3">
          <label class="form-label">Premio</label>
          {{form.premio}}
        </div>
        
      </div>
        
  <!-- Observações -->
  <div>
    <label class="form-label">Observações</label>
    {{form.observacoes}}
  </div>

    </form>
  </div>
</div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
