{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="d-flex">
  <div class="col-2 bg-dark text-white d-flex flex-column p-2 vh-100">
      <div>
        <h5 class="mb-4">Menu</h5>
        <div class="d-grid gap-2">
        
          <a  href="{% url 'seleciona_cliente' cliente.pk %}" class="btn btn-outline-light mb-5">Resumo</a>
          
          <button type="submit" form="meuForm" class="btn btn-outline-light">Salvar</button>
          
          {%if editar%}
          <a href="{% url 'sinistros_update' object.pk %}" class="btn btn-outline-light mb-5">Desfazer</a>
          {%endif%}
          
          <a href="{% url 'dashboard' %}" class="btn btn-outline-light">Inicio</a>
        </div>
      </div>

    </div>
  <div class="col-10">
    <h4 class="text-center border-bottom my-2">Cadastrar / Alterar Sinistros</h4>
  <h5 class="mx-2">Cliente: {{cliente.nome}}</h5>
  
  <div class=" p-2">
    <form method="post" class="row g-3" id="meuForm">
  {% csrf_token %}
  
  <div class="row mb-3">
  <div class="col-md-8">
    <label class="form-label">Apólice</label>
    {{ form.apolice }}
  </div>
  </div>

  <div class="row mb-3">
  <div class="col-md-2"><div class="form-check form-switch">
    <label class="form-check-label" for="id_titular">Titular?</label>{{ form.titular }}
  </div></div>
  </div>

  <div class="row mb-3">
  
  <div class="col-md-2"><label class="form-label">Prêmio</label>{{ form.premio }}</div>
  <div class="col-md-2"><label class="form-label">IS</label>{{ form.Is }}</div>
  <div class="col-md-2"><label class="form-label">IEA (diag.)</label>{{ form.iea_diag }}</div>
  <div class="col-md-2"><label class="form-label">IPA (aux.)</label>{{ form.ipa_aux }}</div>
  <div class="col-md-2"><label class="form-label">IFPTD</label>{{ form.ifptd }}</div>
  <div class="col-md-2"><label class="form-label">Valor</label>{{ form.valor }}</div>

  </div>
  <div class="row mb-3">
  <div class="col-md-2"><label class="form-label">Data</label>{{ form.data }}</div>
  <div class="col-md-2"><label class="form-label">Tipo</label>{{ form.tipo }}</div>
  <div class="col-md-2"><label class="form-label">Tipo de morte</label>{{ form.tipo_morte }}</div>
  <div class="col-md-2"><label class="form-label">Data óbito</label>{{ form.data_obito }}</div>
  <div class="col-md-2"><label class="form-label">Comunic. VG</label>{{ form.data_com_vg }}</div>
  <div class="col-md-2"><label class="form-label">Comunic. CIA</label>{{ form.data_com_cia }}</div>
  </div>
  
  <div class="row mb-3">
    <div class="col-12"><label class="form-label">Observações</label>{{ form.observacoes }}</div>

  </div>

  <div class="row mb-3">
  <div class="col-md-2"><div class="form-check form-switch">
    <label class="form-check-label" for="id_titular">Pago?</label>{{ form.pago_recusa }}
  </div></div>
  <div class="col-md-2"><label class="form-label">Data recusa/pagto</label>{{ form.data_recusa_pg }}</div>
  </div>

  
  

  
</form>
  </div>
</div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
