{% load static %}
{% load atributos %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .link-item {
      background-color:rgb(238, 236, 236);
      transition: background-color 0.2s ease;
    }

    .link-item:hover {
      background-color: lightgray;
      
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row min-vh-100">

      <!-- Sidebar -->
      <div class="col-2 bg-dark text-white d-flex flex-column justify-content-between p-3">
        <div>
          <h5 class="mb-4">Menu</h5>
          <div class="d-grid gap-2">
            <a href="{% url 'dashboard' %}" class="btn btn-outline-light">Inicio</a>
            <a class="btn btn-light">Clientes</a>
            <a class="btn btn-outline-light">Propostas</a>
            <a class="btn btn-outline-light">Certificados</a>
            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#uploadModal">Importar</button>
            <a class="btn btn-outline-light">Relatórios</a>
            <a href="{% url 'sinistros_list' %}" class="btn btn-outline-light">Sinistros</a>
            <a class="btn btn-outline-light">Configurações</a>
          </div>
        </div>
        <div>
          <a class="btn btn-outline-danger w-100">Sair</a>
        </div>
      </div>

      <!-- Conteúdo principal -->
      <div class="col-10 p-4">
        <div class="container">
          <div class="d-flex justify-content-between mb-3 align-items-center">
          <h2>{{title}}</h2>
          <a href="{% url url_novo %}" class="btn btn-success">Cadastrar Cliente</a>
          </div>

          <form method="get" class="mb-3">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Buscar por {{campos_busca}}">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
          </form>
          

          <div>
            <div class="d-flex" style="font-size:13px;">
                    <div class="p-2 " style="width: 300px;"><strong>Nome:</strong> </div>
                    <div class="p-2 " style="width: 110px;"><strong>CPF:</strong> </div>
                    <div class="p-2 " style="width: 110px;"><strong>Matrícula:</strong> </div>
                    <div class="p-2 " style="width: 160px;"><strong>Apólices:</strong> </div>
            </div>
            {% for item in registros %}
            <a href="{% url url_edicao item.cliente.pk %}" class="text-decoration-none text-dark ">
              <div class="d-flex border rounded mb-1 link-item flex-column" style="font-size:13px;">

                
                
                  <!-- Linha 1: Nome, CPF, Controle -->
                  <div class="d-flex">
                    <div class="p-2 " style="width: 300px;"> {{ item.cliente.nome }}</div>
                    <div class="p-2 " style="width: 110px;"> {{ item.cliente.cpf }}</div>
                    <div class="p-2 " style="width: 110px;"> {{ item.cliente.matricula }}</div>
                    <div class="d-flex justify-content-end">
                    {% if item.cifptd %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">CIFPTD</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">CIFPTD</span></div>
                    
                    {%endif%}

                    {% if item.sifptd %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">SIFPTD</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">SIFPTD</span></div>
                    {%endif%}

                    {% if item.mulher %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Mulher</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Mulher</span></div>
                    {%endif%}

                    {% if item.educ %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Educacional</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Educacional</span></div>
                    {%endif%}

                    {% if item.decesso %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Decesso</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Decesso</span></div>
                    {%endif%}
                    {% if item.vida %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Vida</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Vida</span></div>
                    {%endif%}
                    {% if item.residencia %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Residência</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Residência</span></div>
                    {%endif%}
                    {% if item.carro %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Carro</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Carro</span></div>
                    {%endif%}
                    {% if item.moto %}
                    <div class="p-2"><span class="border rounded bg-success p-1 text-white"
                        style="font-size:10px;">Moto</span></div>
                    {%else%}
                    <div class="p-2"><span class="border rounded bg-secondary p-1 text-white"
                        style="font-size:10px;">Moto</span></div>
                    {%endif%}
                    </div>
                  </div>
                

              </div>
            </a>
            {% empty %}
            <div class="alert alert-warning">Nenhum registro encontrado.</div>
            {% endfor %}
          </div>


          <div class="pagination mt-4">
            <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page=1{% if query %}&q={{ query }}{% endif %}">« Primeira</a>
              <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">‹ Anterior</a>
              {% endif %}

              <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
              </span>

              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Próxima ›</a>
              <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Última »</a>
              {% endif %}
            </span>
          </div>
        </div>

      </div>
    </div>




  </div>

  <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title" id="uploadLabel">Upload PDF</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{%url 'upload_pdf_vida'%}" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
      <input type="file" name="arquivo_pdf" class="form-control" accept="application/pdf" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
      </div>
      <div class="modal-footer">
        <!-- Botão "Não" apenas fecha o modal -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>